body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: darkgray;
    font-family: Arial, sans-serif;
}
.contenedor {
    width: 50%;
    background-color: white;
    margin: 0 auto; /* Centrado horizontal */
    
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
section {
    flex-grow: 1; /* Permite que la sección de animes ocupe el espacio disponible */
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.anime {
    color: black;
    border: 1px solid black;
    margin: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.anime-image {
    margin-right: 20px;
}

.anime-image img {
    width: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.anime-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.nombre {
    flex: 1;
    font-weight: bold;
}

.calificacion {
    width: 20%;
    text-align: center;
    font-weight: 700;
}

.botonBotar {
    width: 20%;
    text-align: center;
    font-weight: bold;
}
button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 3px;
    transition-duration: 0.5s;
}
button:hover {
    background-color: yellow;
    color: black;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    font-weight: bold;
}
.chatBoton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #4CAF50; /* Color verde */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.chatBoton::before {
    content: '💬'; /* Emoji de chat */
    font-size: 30px;
}

.chatBoton:hover {
    background-color: #45a049; /* Tono de verde ligeramente más oscuro */
    transform: scale(1.1); /* Ligero aumento de tamaño */
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

.chatBoton:hover::after {
    content: 'Chat';
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    top: -40px;
    font-size: 14px;
    white-space: nowrap;
}
.menu-sticky {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    z-index: 100;
}

.menu-sticky a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.menu-sticky a:hover {
    background-color: #555;
}